.btn-primary {

  background-color: #9E0921;
  border-color: #9E0921;
  width: 35%;
}

.panel-heading{
  font-family: Roboto;
  font-weight: bolder;
  font-size: x-large;
  padding-top:5% ;

}

.panel-text{
  font-family: Roboto;
  font-weight: normal;
  font-size: medium;
  margin-top: 10px;
}


.panel{
  margin-top: 70px;
}
.panel-body{
  margin-top:85px;
}


span:hover{
  cursor:pointer;
  font-size: 101%;
  text-decoration: underline;
}

label{
  color: #404040
}

.panel panel-primary{
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}

html{
  background-image: url("../../assets/images/test.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 1000px;

}

.loginform{
  background: rgba(255,255,255, 0.9);
  border-radius: 25px;


}

.content{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 10%;

}
