<div class="text-center">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-4">



            <img src="assets/images/person.png" width="90%"/>


      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header" >
            <h4 class="my-0 font-weight-normal" >Subscription Plan</h4>
          </div>
          <div class="card-body" >

            <h6> Recommended for long-term image usage </h6>
            <h1><b>$0.68 </b><small class="text-muted">/ image</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>$129/month</li>
              <li>No daily download limit</li>
              <li>--------------Choose your plan!--------------</li>
              <li>Help center access</li>
            </ul> <button type="button" class="btn btn-lg btn-block btn-danger">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Download Pack</h4>
          </div>
          <div class="card-body">
            <h1><b>$29 </b><small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul> <button type="button" class="btn btn-lg btn-block btn-danger">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
