<nav class="navbar navbar-expand-lg navbar-light bg-light py-sm-4">
  <a class="navbar-brand" href="#">
    <img src="./assets/images/MP_logo.png" alt="Logo" style="width:100px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Photos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Photos Home</a>
          <a class="dropdown-item" href="#">Curated Collection</a>
          <a class="dropdown-item" href="#">Categories</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Illustrations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Illustrations Home</a>
          <a class="dropdown-item" href="#">Curated Collection</a>
          <a class="dropdown-item" href="#">Curated Collection</a>
        </div>
      </li>
    </ul>
    <div class="nav-item ml-auto">
      <ul class="navbar-nav">
        <li class="nav-item">
          <nav>
            <a class="nav-link" routerLink="/contributor">Sell</a>
          </nav>

        </li>
        <li class="nav-item">
          <nav>
            <a class="nav-link mr-3" routerLink="/pricing">Pricing</a>
          </nav>

        </li>
        <nav>
          <div *ngIf="!(authenticated()| async);else signOutBtn" >
          <button class="btn btn-outline-danger my-3 my-sm-0 mr-2 ml-2" type="submit" routerLink="/signup">Sign Up</button>
          <button class="btn btn-danger my-3 my-sm-0 mr-2 ml-2" type="submit" routerLink="/login">Log In</button>
        </div>
            <ng-template #signOutBtn>
              <button class="btn my-3 my-sm-0 mr-2 ml-2" #clickMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" style="display: flex;">
                <span><mat-icon style="margin:0px 4px;">person_pin</mat-icon></span>
                <span><p>{{authenticatedUsername()}}</p></span>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <span>Account Settings</span>
                </button>
                <button mat-menu-item>
                  <span>Personnalize My Portfolio</span>
                </button>
                <button mat-menu-item (click)="onSignOut()">
                  <span>Sign Out</span>
                </button>
              </mat-menu>
            <!-- <button class="btn btn-danger my-3 my-sm-0 mr-2 ml-2" type="submit" ">Sign Out</button> -->
          </ng-template>
        </nav>
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>




