h1 {
    margin: 40px 0px;
    text-align: center;
    width:100%;
    position: relative;
    font-size: 36px;
    font-weight: bold;
    color: #9E0921;
}
.divider{
    width:60%;
    margin:auto;
}