<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/home_image1.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block" style="bottom: 50%">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/home_image2.png" alt="Second slide">
      <div class="carousel-caption d-none d-md-block" style="bottom: 50%">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/home_image3.png" alt="Third slide">
      <div class="carousel-caption d-none d-md-block" style="bottom: 50%">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>

  </div>

</div>

<h1> See what's trending </h1>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center">
  <div fxFlex="31%" fxLayout="column" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="top" #one>
  </div>
  <div fxFlex="31%" fxLayout="column" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="top" #two>
  </div>
  <div fxFlex="31%" fxLayout="column" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="top" #three >
  </div>
</div>


