<h1 style="text-align: center;">{{query}} images</h1>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="center">
    <div fxFlex="31%" fxLayout="column" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="top" #one>
    </div>
    <div fxFlex="31%" fxLayout="column" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="top" #two>
    </div>
    <div fxFlex="31%" fxLayout="column" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="15px" fxLayoutAlign="top" #three >
    </div>
  </div>