<mat-dialog-content class="mat-typography">
  <img class="img" [src]="url()+img.filePath">
  <p>{{img.description}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button ><mat-icon class="download-icon icon" style="color:white;" (click)="downloadImage(img)">get_app</mat-icon>
  </button>
  <button mat-button cdkFocusInitial>
      <mat-icon *ngIf="img.saved;else notSavedButton" (click)="unsaveImage(img)" class="save-icon icon"
    style="color:white;">favorite</mat-icon>
  <ng-template #notSavedButton>
  </ng-template><mat-icon (click)="saveImage(img)" class="unsave-icon icon" style="color:white;">favorite_border</mat-icon></button>
</mat-dialog-actions>
