<mat-dialog-content class="mat-typography" >
  <img class="img" [src]="url()+img.filePath">
  <!-- <span style="display: flex;">
    <img src="{{url()+'/'+authenticatedUsername()+'/profile-picture/view'}}" class="owner-image icon "
      style="color:white;">
  </span> -->
  <p>{{img.description}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button ><mat-icon class="download-icon icon"  (click)="downloadImage(img)">get_app</mat-icon>
  </button>
  <button mat-button cdkFocusInitial>
      <mat-icon *ngIf="img.saved;else notSavedButton" (click)="unsaveImage(img)" class="save-icon icon">favorite</mat-icon>
  </button>
  <ng-template #notSavedButton><mat-icon (click)="saveImage(img)" class="unsave-icon icon" >favorite_border</mat-icon></ng-template>
</mat-dialog-actions>
