<h1 class="categories-title">Categories</h1>
  <div class="container-fluid" style="margin-bottom: 50px">
  <div class="card" >
    <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>


      </div>
  </div>
<div class="card" >
  <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">Card title</h2>


  </div>
</div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>


      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>


      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>


      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>


      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>


      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>


      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>

      </div>

    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Card title</h2>

      </div>

    </div>


  </div>
