<mat-divider class="divider"></mat-divider>
<h1>Categories</h1>
<mat-divider class="divider"></mat-divider>

  <div class="container-fluid" style="margin-bottom: 50px">
  <div class="card" >
    <img class="card-img-top" src="../../assets/images/login-background.jpg" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Nature</h2>


      </div>
  </div>
<div class="card" >
  <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">Building</h2>


  </div>
</div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Galaxy</h2>


      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Animals</h2>


      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Sunset</h2>


      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Sea</h2>


      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Vintage</h2>


      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Street</h2>


      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Fashion</h2>

      </div>

    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/upload.png" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">Family</h2>

      </div>

    </div>


  </div>
