<h1 class="contributor-title">Moroccan Pixels Contributor</h1>
<button mat-raised-button color="warn" class="upload-button" routerLink="/uploadImage">Upload images</button>
<img src="assets/images/upload-img.png" class="upload-img"/>
<button mat-raised-button color="warn" class="upload-button" routerLink="/gallery">My Gallery</button>
<img src="assets/images/gallery-img.png" class="upload-img"/>
<button mat-raised-button color="warn" class="upload-button">Earnings</button>
<img src="assets/images/earning-img.png" class="upload-img"/>
<button mat-raised-button color="warn" class="upload-button">Insights</button>
<img src="assets/images/insights-img.png" class="upload-img"/>
